.app {
  display: flex;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  overflow: hidden; 
}

.main-content {
  flex: 1;
  padding: 40px;
  background-color: #ecf0f1;
  overflow-y: auto; 
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #2c3e50;
  height: 100%;
  color: #ecf0f1;
  padding: 20px;
}

.sidebar .navbar {
  width: 100%;
}

.custom-nav .nav-link {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #ecf0f1;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.custom-nav .nav-link:hover {
  background-color: #34495e;
  color: #ffffff;
}

.icon {
  margin-right: 10px;
  font-size: 1.2em;
  color: #ffffff;
  transition: color 0.3s;
}

.custom-nav .nav-link:hover .icon {
  color: #3f8feb;
}

.image{
  height: 35px;
  margin-bottom: 10px;
  background-color: #ffffff3b;
}

.usuario-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #34495e;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle {
  color: #34495e;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.table {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  margin-bottom: 20px; /* Ajusta según sea necesario */
}

.table th {
  background-color: #34495e;
  color: #ffffff;
  text-align: center;
}

.table td, .table th {
  padding: 15px;
  text-align: center;
}

.Button {
  font-size: 0.9rem;
  padding: 6px 12px;
  transition: background-color 0.3s;
}

.espacios-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}