.app {
    display: flex; 
    height: 100vh; 
  }
  
  .sidebar {
    display: flex;
    width: 250px; 
    background-color: #343a40; 
    height: 100vh; 
  }
  
  .main-content {
    flex: 1; 
    padding: 20px; 
    background-color: #f8f9fa; 
  }
  
  
  .sidebar .navbar {
    width: 250px; 
  }
  
  .custom-nav .nav-link {
    display: flex; 
    align-items: center; 
    color: #ffffff; 
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .custom-nav .nav-link:hover {
    background-color: #565656; 
    color: #ffffff;
  }
  
  .icon {
    margin-right: 10px; 
    font-size: 1.2em; 
    color: #ffffff; 
    transition: color 0.3s; 
  }
  
  .custom-nav .nav-link:hover .icon {
    color: #ffdd57; 
  }
  
  .usuario-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }